<h1 class="title is-2">Prestito <%= @prestito.id %> per il libro <%= @prestito.libro.titolo %></h1>
<h2 class="subtitle is-4">Proprietario del libro: <%= @prestito.libro.utente.cognome %></h2>
<h2 class="subtitle is-4">Richiedente del prestito: <%= @prestito.utente.cognome %></h2>
