<h1 class="title is-1">Biblioteca sospesa a tempo indeterminato</h1>

<p>Siamo spiacenti di informarti che la biblioteca è stata sospesa a tempo indeterminato. I libri che hai in possesso vanno restituiti.</p>

<p>La nebbia agli irti colli<br/>
Piovigginando sale,<br/>
E sotto il maestrale<br/>
urla e biancheggia il mar;<br/>
Ma per le vie del borgo<br/>
Dal ribollir dè tini<br/>
Va l'aspro odor de i vini<br/>
L'anime a rallegrar.<br/>
Gira sù ceppi accesi<br/>
Lo spiedo scoppiettando:<br/>
Sta il cacciator fischiando<br/>
Su l'uscio a rimirar<br/>
Tra le rossastre nubi<br/>
Stormi d'uccelli neri,<br/>
Com'esuli pensieri,<br/>
Nel vespero migrar.<br/>
  -- Giosué Carducci</p>
