<h1 class="titile is-1">Biblioteca sospesa a tempo indeterminato</h1>
<p>Siamo spiacenti di informarti che la biblioteca è stata sospesa a tempo indeterminato. I libri che hai in possesso vanno restituiti.</p>
<p>La nebbia agli irti colli
Piovigginando sale,
E sotto il maestrale
urla e biancheggia il mar;
Ma per le vie del borgo
Dal ribollir dè tini
Va l'aspro odor de i vini
L'anime a rallegrar.
Gira sù ceppi accesi
Lo spiedo scoppiettando:
Sta il cacciator fischiando
Su l'uscio a rimirar
Tra le rossastre nubi
Stormi d'uccelli neri,
Com'esuli pensieri,
Nel vespero migrar.
  -- Giosué Carducci</p>
